.react-grid-layout {
  position: relative;
  transition: height 200ms ease;
}
.react-grid-item {
  transition: all 200ms ease;
  transition-property: left, top;
}
.react-grid-item.cssTransforms {
  transition-property: transform;
}
.react-grid-item.resizing {
  z-index: 1;
  will-change: width, height;
}

.react-grid-item.react-draggable-dragging {
  transition: none;
  z-index: 3;
  will-change: transform;
}

.react-grid-item.react-grid-placeholder {
  /* background: red; */
  /* opacity: 0.2; */
  /* transition-duration: 100ms; */
  /* z-index: 2; */
  /* -webkit-user-select: none; */
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.react-grid-item > .react-resizable-handle {
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: 0;
  right: 0;
  cursor: se-resize;
}

.react-grid-item > .react-resizable-handle::after {
  content: "";
  position: absolute;
  right: 3px;
  bottom: 3px;
  width: 5px;
  height: 5px;
  border-right: 2px solid rgba(0, 0, 0, 0.4);
  border-bottom: 2px solid rgba(0, 0, 0, 0.4);
}

.floating-menu {
  position: absolute;
  right: 8px;
  bottom: 8px;
  height: 42px;
  text-align: right;
  /*transition: height 250ms ease-in-out;*/
}

.floating-menu.open {
  height: 150px;
  overflow: hidden;
}

.floating-menu.open .floating-menu-item {
  margin-top: 8px;
}

.floating-menu-item label {
  display: inline-block;
  margin-right: 8px;
  padding: 4px 10px;
  border-radius: 12px;
  background: rgba(0, 0, 0, 0.25);
  opacity: 0;
  transition: opacity 250ms ease-in-out;
}

.floating-menu.open .floating-menu-item label {
  opacity: 0.4;
}

.floating-menu-icon {
  display: inline-block;
  width: 42px;
  height: 42px;
  line-height: 42px;
  vertical-align: middle;
  background: #e53935;
  border-radius: 50%;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.floating-menu-icon .material-icons {
  font-size: 32px;
  color: #fff;
  vertical-align: middle;
}
